<nav style="display: flex; gap: 1.5rem; justify-content: left; padding: 1rem; padding-left: 0px">
  <a href="{{ "blog/" | absURL }}" style="font-family: var(--font-nav); color: #FFCC33; text-decoration: underline; ">Blog</a>
  <a href="https://v-ibe.medium.com/" style="font-family: var(--font-nav); color: #FFCC33; text-decoration: underline; " target="_blank">Medium</a>
  <a href="{{ "index.xml" | absURL }}" style="font-family: var(--font-nav); color: #FFCC33; text-decoration: underline; " target="_blank">RSS</a>
</nav>